* {
    padding: 0
    margin: 0
    box-sizing: border box;
}
html{
    background-color: light rgb(255, 255, 255);
}
body{
    background: linear-gradient(#EEE8AA 10%, #FFFFFF 80%,#EEE8AA 10%); 
     width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

div{
    text-align: justify;
}
